<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://salarycalculatorec.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/537c4381-53c3-47a5-ac7d-744f990bbefd/resourceGroups/SalaryProyect/providers/Microsoft.Web/sites/SalaryCalculatorEc</ResourceId>
    <UserName>$SalaryCalculatorEc</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://salarycalculatorec.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>